$body_font: "Lato";
$body_color: #f5f3f6;
$body_dark: #535354;
$blue-dark: #0c4e66;
$blue-light: #1cb2c4;
$blue-light-selected: #20edff;
$a_hover: #4d7dff;

$screen_sm: 768px;
$screen_md: 992px;
$screen_lg: 1200px;