.info-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 16px;
  margin-left: -4px;
  margin-right: -4px;

  .info-card {
    padding: 4px;
    text-align: center;
    margin-bottom: 4px;

    .info-card-inner {
      position: relative;
      display: flex;
      width: 220px;
      height: 200px;
      color: #ffffff;
      flex-wrap: wrap;
      align-content: center;

      &:before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        background: $blue-light;
        opacity: .13;
        z-index: 0;
      }

      .card-value {
        font-size: 40px;
        font-weight: 800;
        margin-top: 0;
        width: 100%;
        z-index: 1;
      }

      .card-description {
        font-size: 23px;
        font-weight: 300;
        width: 100%;
        z-index: 1;
      }

      .card-link {
        width: 100%;
        font-size: 8px;
        letter-spacing: 2px;
        font-weight: 300;
        color: #ffffff;
        z-index: 1;
      }
    }

    &.selected-tile {
      .info-card-inner {
        &:before {
          background: $blue-light-selected;
          opacity: .2;
        }
      }
    }
  }
}

#time-picker-module {
  margin: 0 auto;

  ol, ul {
    padding: 0;
    margin-bottom: 0;

    li {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
  }

  .week {
    font-size: 12px;
  }
  .days {
    font-size: 12px;
  }

  .calendar-display {
    color: #61d2ed;

    &:hover {
      text-decoration: none;
    }

    .m {
      color: #61d2ed;
      font-size: 16px;
    }
  }
}

.info-table {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  padding: 48px 34px;

  @media screen and (max-width: 768px) {
    padding: 48px 15px;
  }
}

.info-table-search {
  display: flex;
  flex-wrap: wrap;
}

.info-table-pagination {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;

  .pagination {
    display: inline-block;
  }

  .pagination a {
    float: left;
    padding: 0 8px;
    text-decoration: none;
    line-height: 16px;

    &.pagin-item {
      position: relative;
      &:after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background-color: #535354;
      }

      &.current {
        color: #7630ff;
      }
    }
  }
}

.info-footer {

  height: 60px;
  padding: 20px 0;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  &.fixed {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  a, span {
    padding: 0 7px;
  }

  a {
    color: #ffffff;
    &:not(:last-child) {
      border-right: 1px solid #ffffff;
    }
  }

  span {
    border-right: 1px solid #ffffff;
  }

  .information-block {
    text-align: right;
    font-size: 11px;
  }

  &.dark-theme {
    color: #535354;
    border-color: #535354;
    span, a, p {
      color: #535354;
      border-color: #535354;
    }
  }
}

input, textarea, select {
  font-size: 12.5px;
  border: 0;
  padding: 0 20px;
  height: 40px;
  margin-right: 17px;
  margin-bottom: 20px;
  letter-spacing: 2px;

  &[type=text],&[type=search],&[type=email] {
    box-shadow: 1px 1px 0 #d8d8d8 inset, -1px -1px 0 #d8d8d8 inset;
  }

  @media screen  and (max-width: $screen_xs){
    width: 100%;
    margin-right: 0;
  }
}

select {
  background: #ffffff;
  box-shadow: 1px 1px 0 #d8d8d8 inset, -1px -1px 0 #d8d8d8 inset;
}

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  &:hover input ~ .checkmark {
    background-color: #ffffff;
  }

  input:checked ~ .checkmark {
    background-color: #ffffff;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 12px;
    border: solid $blue-dark;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

input[type=file] {
  &:focus {
    outline: 0;
  }
}

input[type=search] {
  min-width: 180px;
}

.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}

.no-js .inputfile + label {
  display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
  color: $body_color;
}

.devise-errors {
  color: red;

  h2 {
    font-size: 27px;
    @include adaptive-font-size(1367, 400, 27, 22, true);
  }

  ul {
    padding-bottom: 20px;
  }
}

.wrap-inner {
  width: 100%;
}