.table-section {
  padding-top: 100px;

  .page-title {
    font-size: 61px;
    color: #1c97c4;
    @include adaptive-font-size(1367, 400, 61, 40, true);
    margin-top: 0;
  }
  .filters-block {
    display: flex;


    .left-side {
      display: flex;
      flex-wrap: wrap;
    }
    .filters {
      width: 100%;
      display: flex;
      align-items: flex-end;

      @media screen and (max-width: $screen_md) {
        flex-wrap: wrap;
      }

    }

    .info-cards {
      position: relative;
      padding-bottom: 0;
      margin-bottom: 16px;
      width: 228px;

      .info-card {
        margin-bottom: 0;

        .info-card-inner:before {
          background-color: $blue-dark;
          opacity: 1;
        }
      }
    }

    .table-search,.select-location {
      height: 40px;
      display: flex;
      width: 100%;
      margin-right: 17px;
    }

    .add-user-btn {
      margin-bottom: 20px;
      margin-right: 17px;
      white-space: nowrap;
    }

    @media screen and (max-width: $screen_md){
      flex-wrap: wrap;

      .table-search,.select-location {
        margin-right: 0;
      }

      .info-cards {
        width: 100%;
      }
    }

  }
}